/**
  constant style variables
*/

// lr -> Lower Resolution Screens
// bg -> Background
// btn -> Button

$font-family: 'Nunito';
$font-weight-extrathin: 300;
$font-weight-thin: 400;
$font-weight-normal: normal;
$font-weight: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;
$font-weight-extrabold: 800;
$font-weight-extrabolder: 900;
$font-weight-heavy: 1000;
$color-white: #fff;
$color-black: #000;
$color-yellow: #ffcd50;
$color-blue:#016FFF;
$color-light-purple: #84288e;
$font-size-footer: 12pt;
$font-size-footer-btn: 15pt;
$font-size-popup-btn: 18pt;
$font-size-popup-text: 14pt;
$font-size-footer-lrs: 11pt;
$font-size-error-popup: 11pt;
$input-placeholder-color: #999999;
$input-bg-color: #ececec;
$btn-bg-purple: #2d0033;
$btn-bg-purple-pressed: #000;
$popup-text-color: #2d0033;
$popup-btn-bg: #0068ff;
$popup-btn-bg-pressed: #0060d3;
$error-msg-popup-bg: #d30034;
$error-msg-color: #d30034;
$text-light-red: #fc6262;
$text-light-green: #8ab94f;
$text-light-yellow: #ecad0b;
$text-support-yellow: #ffcc33;
$general_msg_container_color: #2d0033;
$dynamic_loader_bar_color: #84288e;
$general_msg_link_color: #f6bf02;
