/**
  importing and using custom font families
*/

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-ExtraLight.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Light.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-LightItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Regular.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Italic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Medium.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-SemiBold.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Bold.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-BoldItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-ExtraBold.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-Black.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/Nunito-BlackItalic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/NunitoHeavy-Regular.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 1000;
  font-style: normal;
}

@font-face {
  font-family: Nunito;
  src: url('../assets/fonts/nunito/NunitoHeavy-Italic.ttf') format('truetype');
  /* Safari, Chrome, Firefox, Android, iOS */
  font-weight: 1000;
  font-style: italic;
}
