@import 'renderer/styles/Constants.style.scss';

.forgot_password_confirm_container {
  margin-top: 32px;
  margin-left: calc((100vw - 492px) / 2);
  font-family: $font-family;
  .forgot_password_confirm_container_layout {
    width: 492px;
    height: 405px;
    border-radius: 11px;
    display: inline-block;
    background-color: rgba(45, 0, 51, 0.6);
    padding: 32px 24px;
    box-sizing: border-box;
    .forgot_password_confirm_heading {
      font-family: $font-family;
      color: $color-white;
      font-size: 30pt;
      font-weight: $font-weight-bold;
      line-height: 0.8;
      text-align: center;
    }
    .forgot_password_confirm_info1 {
      color: $color-white;
      font-size: 16pt;
      font-weight: $font-weight-extrabold;
      line-height: 1.2;
      margin-top: 26px;
      .forgot_password_confirm_info1_email {
        color: $text-support-yellow;
        font-weight: $font-weight;
        font-size: 15pt;
      }
    }
    .forgot_password_confirm_info2 {
      color: $color-white;
      font-size: 16pt;
      font-weight: $font-weight;
      line-height: 1.2;
      margin-top: 24px;
    }
    .forgot_password_confirm_loginbtn {
      margin-top: 26px;
      text-align: center;
      button {
        width: 275px;
        height: 57px;
        font-size: 22pt;
        font-weight: $font-weight-bolder;
      }
    }
    .forgot_password_confirm_infofooter {
      color: $color-white;
      font-size: 14pt;
      font-weight: $font-weight;
      line-height: 1.2;
      margin-top: 26px;
      .forgot_password_confirm_infofooter_que {
        font-weight: $font-weight-extrabold;
      }
    }
  }
}
