@import 'renderer/styles/Constants.style.scss';

.general_msg_container {
  text-align: center;
  background: rgba(45, 0, 51, 0.6);
  width: 850px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 17%;
  margin-left: calc((100vw - 850px) / 2);
  .general_msg_header {
    text-align: initial;
    margin: 10px 24px -10px 38px;
    padding-top: 15px;
    height: 50px;
    font-size: 32px;
    font-family: $font-family;
    font-weight: $font-weight-extrabold;
    color: $color-white;
  }
  .general_msg_hr {
    margin: 8px 34px 0 36px;
  }
  .general_msg_items_container {
    display: flex;
    padding-bottom: 15px;
    .general_msg_tobe {
      margin-left: 28px;
      margin-top: 20px;
    }
    .general_msg_content {
      margin: 20px;
      text-align: left;
      padding: 10px;
      font-family: $font-family;
      font-weight: $font-weight-normal;
      .general_msg_subheader {
        margin-top: -10px;
        margin-left: 10px;
        text-align: initial;
        font-family: $font-family;
        font-weight: $font-weight-extrabold;
        color: $color-white;
        font-size: 23pt;
      }
      .general_msg_text {
        min-height: 114px;
        margin-left: 10px;
        text-align: justify;
        font-family: $font-family;
        font-weight: $font-weight-normal;
        color: $color-white;
        margin-top: 10px;
        font-size: 20pt;
        line-height: 1.15;
      }
      .general_msg_link {
        margin: 10px;
        font-size: $font-family;
        font-weight: $font-weight-normal;
        font-size: 20pt;
        a {
          color: $general_msg_link_color;
        }
      }

      .general_msg_btns {
        margin-left: 120px;
        display: inline-flex;
        margin-top: 30px;
        align-items: center;
        position: relative;
        .general_msg_secondary_btn {
          font-family: $font-family;
          font-weight: $font-weight-normal;
          font-size: 19pt;
          width: 144px;
          height: 40px;
          margin-right: 15px;
          padding-bottom: 8px;
        }
        .general_msg_primary_btn {
          font-family: $font-family;
          font-weight: $font-weight-normal;
          width: 288px;
          height: 60px;
          font-size: 30pt;
          margin-left: 14px;
          padding-bottom: 10px;
        }
      }

      .general_msg_for_upgrade_info {
        margin-left: -130px;
        display: flex;
        margin-top: 30px;
        align-items: center;
        position: relative;
        margin-left: 10px;
        .general_msg_primary_btn {
          font-family: $font-family;
          font-weight: $font-weight-normal;
          width: auto;
          height: 52px;
          font-size: 21pt;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 35px;
          padding-bottom: 5px;
          padding: 0 15px 7px 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1666px) {
  .general_msg_container {
    width: 624px;
    border-radius: 10px;
    margin-top: 16%;
    margin-left: calc((100vw - 624px) / 2);
    .general_msg_header {
      margin: 3px 14px -20px 24px;
      padding-top: 14px;
      height: 50px;
      font-size: 17pt;
      font-weight: $font-weight-extrabold;
    }
    .general_msg_hr {
      margin: 2px 24px 0 26px;
    }
    .general_msg_items_container {
      padding-bottom: 15px;
      .general_msg_tobe {
        margin-left: 20px;
        margin-top: 18px;
        .general_msg_tobe_img {
          width: 144px;
        }
      }
      .general_msg_content {
        margin: 16px 0 16px 16px;
        width: 400px;
        font-weight: $font-weight-normal;
        .general_msg_subheader {
          margin-top: -10px;
          margin-left: 10px;
          font-weight: $font-weight-bolder;
          font-size: 15pt;
        }
        .general_msg_text {
          margin-left: 10px;
          margin-top: 10px;
          font-size: 13pt;
          font-weight: $font-weight-extrathin;
        }
        .general_msg_link {
          color: $general_msg_link_color;
          font-size: $font-family;
          font-weight: $font-weight-normal;
          font-size: 13pt;
        }
        .general_msg_btns {
          margin-left: 75px;
          margin-top: 25px;
          align-items: center;
          .general_msg_secondary_btn {
            font-size: 13pt;
            width: 100px;
            height: 30px;
            margin-right: 8px;
          }
          .general_msg_primary_btn {
            font-size: 18pt;
            width: 180px;
            height: 40px;
            padding-bottom: 10px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
