@import 'renderer/styles/Constants.style.scss';

.change_password_container {
  margin-top: 32px;
  margin-left: calc((100vw - 492px) / 2);
  font-family: $font-family;
  .change_password_container_layout {
    width: 492px;
    height: 380px;
    border-radius: 11px;
    display: inline-block;
    background-color: rgba(45, 0, 51, 0.6);
    padding: 32px 50px;
    box-sizing: border-box;
    .change_password_container_heading {
      font-family: $font-family;
      color: $color-white;
      font-size: 30pt;
      font-weight: $font-weight-bold;
      line-height: 0.8;
    }
    .change_password_container_inputs {
      margin-top: 20px;
      .change_password_container_input_email,
      .change_password_container_input_password {
        margin-bottom: 10px;
        position: relative;
        .change_password_container_input_label {
          color: $color-white;
          font-size: 18pt;
          font-weight: $font-weight-extrabold;
          display: block;
        }
        .change_password_container_input_box {
          width: 390px;
          height: 59px;
          outline: none;
          padding-left: 15px;
          padding-right: 68px;
          color: $color-black;
          font-size: 18pt;
          box-sizing: border-box;
          font-family: $font-family;
          font-weight: $font-weight-bold;
          background-color: $input-bg-color;
          border: none;
        }
        .change_password_container_input_box::placeholder {
          color: $input-placeholder-color;
          font-style: italic;
          font-size: 17pt;
          letter-spacing: -0.4px;
        }
        .change_password_container_input_box_error {
          color: $error-msg-color;
          border: 2px solid $error-msg-color;
        }
        .change_password_container_input_password_showicon {
          cursor: pointer;
          position: absolute;
          right: 6px;
          bottom: 10px;
          padding-top: 4px;
          z-index: 2;
          border: none;
          background-color: $input-bg-color;
        }
        .change_password_container_input_error {
          position: absolute;
          top: 23px;
          left: 448px;
        }
      }
      .change_password_container_input_password {
        .change_password_container_input_box {
          padding-right: 68px;
        }
      }
    }
    .change_password_container_login_bt {
      text-align: center;
      margin-top: 22px;
      button {
        font-size: 24pt;
        font-weight: $font-weight-extrabold;
        width: 327px;
        height: 57px;
      }
    }
  }
}
