@import '../../../styles/Constants.style.scss';

// .eula_page_container {
//   .eula_page_heading {
//     padding: 15px 0;
//     font-family: $font-family;
//     font-weight: $font-weight-extrabold;
//     color: $color-yellow;
//     font-size: 50pt;
//     text-align: center;
//   }
//   .eula_version {
//     margin-bottom: 16px;
//     font-family: $font-family;
//     font-weight: $font-weight-normal;
//     padding-bottom: 5px;
//     color: $color-white;
//     font-size: 24pt;
//     text-align: center;
//   }
//   .eula_text_area {
//     font-family: $font-family;
//     background: $color-white;
//     width: 1024px;
//     height: 800px;
//     padding-left: 15px;
//     overflow-x: hidden;
//     overflow-y: auto;
//     margin: auto;
//     border: 1px solid $color-black;
//     .eula_page_content {
//       margin: 10px;
//       text-align: justify;
//       padding: 10px;
//       font-family: $font-family;
//       font-size: 13pt;
//     }
//   }
//   .eula_btn_container {
//     margin: 10px;
//     text-align: center;
//     display: block;
//     padding-block: 20px;
//     margin-block: auto;
//     .eula_btn_decline {
//       font-weight: $font-weight-extrabold;
//       text-align: center;
//       stroke: $color-white;
//       margin-right: 10px;
//       height: 43px;
//       width: 180px;
//       font-size: 16pt;
//     }
//     .eula_btn_accept {
//       font-weight: $font-weight-extrabold;
//       stroke: $color-white;
//       text-align: center;
//       font-size: 18pt;
//       width: 188px;
//       height: 51px;
//       margin-left: 10px;
//     }
//     :disabled {
//       opacity: 25%;
//       pointer-events: none;
//     }
//   }
// }

// @media only screen and (max-width: 1666px) {
//   .eula_page_container {
//     .eula_page_heading {
//       padding: 10px 0 6px 0;
//       font-size: 26pt;
//     }
//     .eula_version {
//       margin-bottom: 10px;
//       font-size: 13pt;
//     }
//     .eula_text_area {
//       width: 60%;
//       height: calc(100vh - 192px);
//       .eula_page_content {
//         font-size: 11pt;
//         margin: 10px;
//         padding: 6px;
//       }
//     }
//     .eula_btn_container {
//       margin: 0px;
//       padding-block: 20px;
//       .eula_btn_decline {
//         margin-right: 8px;
//         height: 34px;
//         width: 124px;
//         font-size: 13pt;
//         font-weight: $font-weight-bolder;
//       }
//       .eula_btn_accept {
//         font-size: 14pt;
//         width: 124px;
//         height: 36px;
//         margin-left: 10px;
//         font-weight: $font-weight-bolder;
//       }
//       :disabled {
//         opacity: 25%;
//       }
//     }
//   }
// }


.eula_page_container {
  background-color: $color-white;
  height: 1778.4926 px;
  width: 1874.156 px;
}